
    <!-- Portfolio Grid Section -->
    <section id="suck">
        <div id="portfolio">
        <div class="container">
            <div class="row blackheader">
                <div class="col-lg-12 text-center" style="font-family:verdana;">
                    <h3>Research Interests</h3>
                    <hr>
                        <h4 align="center">Development of Executive Functions</h4>
                    <span class="research">I am interested in investigating how experience with two languages shapes domain-general abilities and how this extends into executive functions such as task-switching, inhibition control, and emotional regulation.</span>
                          <h4 align="center">Word Learning</h4>
                   <span class="research">How does second language experience influences the inferences that children make when learning new words and forming new conceptual categories? How does the bilingual experience contribute to a child's ability to represent words and map them onto concepts?</span>
                        <h4 align="center">Bilingual Advantage</h4>
                     <span class="research">Is there such a thing as a bilingual advantage? There have been conflicting findings among researchers in regards to this topic. I am interested in testing children across the bilingual spectrum (passive to active bilinguals) and finding the threshold at which this advantage can be seen.</span>
                    
            </div>
            <div class="row">
                {% for post in site.posts %}
                    {% if post.category == 'doormat' %}
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-sign-in fa-3x"></i>
                                    </div>
                                </div>
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
